// Define variables for your color scheme

$white: white;
$orange: #EF6E49;
$light-orange: #F7B4A1;
$light-gray: #FBF9F3;
$gray: #333333;
$black: rgb(0, 0, 0);
$green: #77BA99;
$dark-green: #264D01;
$border-grey: #BDBCBE;
