// Define variables for your color scheme

$white: white;
$orange: #EF6E49;
$light-orange: #fc672de8;
$light-gray: #FBF9F3;
$gray: #333333;
$black: rgb(0, 0, 0);
$green: #2b5702;
$dark-green: #264D01;
$light-green: #93ac40;
$border-grey: #BDBCBE;
