<div class="container">
  <div class="row justify-content-center form-group">
    <h2 class = "mb-3 mt-5">How it works</h2>
  </div>

  <div class="cards">
    <div class="card p-3">
      <%= image_tag "city.svg", alt: "Find" %>
      <h4>Select your city</h4>
      <p>Find the restaurants that offer cooking experiences around you!</p>
    </div>
    <div class="card p-3">
      <%= image_tag "chef.svg", alt: "Select" %>
      <h4>Choose restaurant and meal kit</h4>
      <p>Click through numerous restaurants and explore their meal kit offers!</p>
    </div>
    <div class="card p-3">
      <%= image_tag "delivery.svg", alt: "Cook" %>
      <h4>Delivery of meal kit</h4>
      <p>Start cooking with all ingredients and an entertaining cooking tutorial!</p>
    </div>
  </div>

</div>
