<div class="container">
  <div class="row justify-content-center form-group">
    <h2 class = "mb-3 mt-5">How it works</h2>
  </div>

  <div class="homepage_cards">
    <div class="homepage_card p-3">
      <%= image_tag "find.svg", alt: "Find" %>
      <h4>Select your city</h4>
      <p>Find the restaurants that offer cooking experiences around you!</p>
    </div>
    <div class="homepage_card p-3">
      <%= image_tag "chef.svg", alt: "Select" %>
      <h4>Browse cooking kits</h4>
      <p>Click through numerous restaurants and explore their cooking kits!</p>
    </div>
    <div class="homepage_card p-3">
      <%= image_tag "delivery.svg", alt: "Cook" %>
      <h4>Start cooking</h4>
      <p>Cook with all ingredients and a tutorial by the restaurant chef!</p>
    </div>
  </div>
</div>

<div class="blog-card ">
    <div class="meta">
      <div class="photo" style="background-image: url(https://images.pexels.com/photos/4021695/pexels-photo-4021695.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260)"></div>
    </div>
    <div class="description">
      <h1>Ingredients</h1>
      <h2>Fresh, regional and bio</h2>
      <p> All our partner restaurants work with carefully selected suppliers to provide you with the best quality products, regional and bio!</p>
    </div>
</div>

<div class="blog-card alt">
  <div class="meta">
    <div class="photo" style="background-image: url(https://images.unsplash.com/photo-1577219491135-ce391730fb2c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=625&q=80)"></div>
  </div>
  <div class="description">
    <h1>Chefs</h1>
    <h2>Professional chefs with various specialties</h2>
    <p>Every meal kit comes with a professional cooking tutorial by the restaurants' chef to show you exactly how the dish is cooked!.</p>
  </div>
</div>

<div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(https://images.pexels.com/photos/3771120/pexels-photo-3771120.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)"></div>
    </div>
    <div class="description">
      <h1>Experience</h1>
      <h2>Fun, entertaining and full of surprises</h2>
      <p> Enjoy a cooking experience that is 100% fun. No shopping, no planning, no hassle - just the fun of cooking!</p>
    </div>
</div>