<div class="homepage_banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/31/RpgvvtYAQeqAIs1knERU_vegetables.jpg?ixlib=rb-1.2.1&auto=format&fit=crop&w=754&q=80);">
  <div class="container">
    <h1>Learn to cook from the best chefs in the city!</h1>
    <p>Convenient, inspiring and fun!</p>


    <%= simple_form_for "" , url: restaurants_path, method: :get do |f| %>
        <%= f.input :city, prompt: "Select your city!", label: false, collection: Restaurant::CITY %>
        <%= f.button :submit, "Search!", class: "btn-info" %>
    <% end %>
  </div>
</div>
