<div class="homepage_banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/reserve/EnF7DhHROS8OMEp2pCkx_Dufer%20food%20overhead%20hig%20res.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=757&q=80);">
  <div class="container">
    <h1>Learn from the  <strong> best restaurant chefs</strong> in the city!</h1>
    <p>Select the dish, receive the ingredients at home, cook with a cooking explanation by the restaurant's chef!</p>

    <%= simple_form_for :city, url: restaurants_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Select your city" />
        <button name="button" type="submit" class="btn btn-info">
          <i class="fas fa-search"></i>
        </button>
      </div>
    <% end %>
  </div>
</div>