<div class="homepage_banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1516824711718-9c1e683412ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80);">
  <div class="container">
    <h1>Learn how to cook with the best chefs in the city!</h1>
    <p>Convenient, inspiring and fun!</p>

    
    <%= simple_form_for "/", url: restaurants_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Enter your city" />
        <button name="button" type="submit" class="btn btn-info">
          <i class="fas fa-search"></i>
        </button>
      </div>
    <% end %>
  </div>
</div>
