<div class="container">



<div class="container">
  <div class="details">
      <div class="meta">
        <%= image_tag "People_cooking.jpg", alt: "Cooking at home" %>
      </div>
      <div class="description">
        <h1>Experience</h1>
        <p><i>Fun, entertaining and full of surprises</i></p>
        <p> Enjoy a cooking experience that is 100% fun. No shopping, no planning, no hassle - just the fun of cooking!</p>
      </div>
  </div>

  <div class="details">
    <div class="description">
      <h1>Chefs</h1>
      <p><i>Professional chefs with various specialties</i></p>
      <p>Every meal kit comes with a professional cooking tutorial by the restaurants' chef to show you exactly how the dish is cooked!.</p>
    </div>
    <div class="meta">
      <%= image_tag "Chefkoch.jpg", alt: "Chefs" %>
    </div>
  </div>

  <div class="details">
      <div class="meta">
        <%= image_tag "Ingredients.jpg", alt: "Ingredients" %>
      </div>
      <div class="description">
        <h1>Ingredients</h1>
        <p><i>Fresh, regional and bio</i></p>
        <p> All our partner restaurants work with carefully selected suppliers to provide you with the best quality products, regional and bio!</p>
      </div>
  </div>
</div>