<div class="banner-index" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner_index_restaurants.jpg" %>'); text-align: center;">
  <div class="container">
    <h1>The best restaurants in the city on your dinner table!</h1>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <% @restaurants.each do |restaurant| %>
        <div class="card mb-3 mt-3">
          <%= image_tag "restaurant.jpg" %>
          <div class="card-footer">
            <h3><%= link_to restaurant.name, restaurant_path(restaurant), class: "border-bottom" %></h3>
            <p><%= restaurant.description %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

