.alert {
  position: fixed;
  bottom: 80px;
  right: 80px;
  z-index: 1000;
  border-radius: 5px;
  border: none;
}

.alert-info {
  background-color: $light-green;
  color: $white;
  opacity: 0.9;
}

.alert-warning {
  background-color: $light-orange;
  color: $white;
  opacity: 0.9;
}
