/* app/assets/stylesheets/components/_navbar.scss */

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 0.2rem 1rem;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  margin-left: 10px;
  width: 80px;
}


.navbar-lewagon .icon i:hover {
  color: #5e5d5d;
}

.navbar-lewagon .counter {
  margin-right: -22px;
}

.navbar-lewagon .nav-item:hover {
  text-decoration: underline;
}
