/* app/assets/stylesheets/components/_navbar.scss */

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 0.2rem 1rem;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  margin-left: 10px;
  width: 80px;
}