// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.main-button {
  color: #333333;
  font-size: 28px;
  font-weight: lighter;
  text-decoration: none;
  padding: 20px 100px;
  &:hover {
    text-decoration: none;
  }
}

.selected {
  font-weight: bold;
  color: black;
  border-bottom: 3px solid #333333;
}

.carousel {
  overflow: hidden;
}
.carousel-inner {
  overflow: inherit;
  padding: 0 40px;
}
.carousel-control-prev {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  color: black !important;
  background-image: none;
}
.carousel-control-next {
  color: black !important;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  background-image: none;
}

.carousel-item.active {
  display: flex;
  justify-content: space-between;
}

.cuisine-choices::-webkit-scrollbar {
  display: none;
}

.cuisine-choice {
  padding: 5px 20px;
  &.active {
    border-bottom: 2px solid black;
    font-weight: bolder;
  }
}

.cuisine-choices .hidden {
  display: none;
}

._price, ._preptime {
  margin-bottom: 0 !important;
}


.simple_form {
  legend, label.range {
    font-weight: bold;
  }
}


input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  background: transpareinput[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
}
  
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 9px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #cfcece, 0px 0px 1px #cfcece;
    background: #EF6E49;
    border-radius: 1.3px;
    border: 0.2px solid #cfcece;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #EF6E49;
  }

  input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 9px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #cfcece, 0px 0px 1px #cfcece;
    background: #EF6E49;
    border-radius: 5px;
    border: none;
  }
  input[type=range]::-webkit-slider-thumb {
    border: #333333;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid #333333;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #EF6E49;
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 9px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #cfcece, 0px 0px 1px #cfcece;
    background: #EF6E49;
    border-radius: 5px;
    border: none;
  }
  
  input[type=range]::-moz-range-thumb {
    border: #333333;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid #333333;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px;
  }



.restaurant {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 86%;
  margin-left: 7%;
  height: 250px;
  .restaurant-logo img{
    margin-top: 15%;
    height: 270px;
    width: 270px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
    background-color: white;
    position: relative;
    bottom: 170px;
  }
  .restaurant-description {
    width: 60%;
    text-align: center; 
    position: relative;
    margin-top: 0;
    bottom: 10px;
    margin-left: 30px;
    height: 200px;
    h1 {
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
}

