// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.main-button {
  color: #333333;
  font-size: 28px;
  font-weight: lighter;
  text-decoration: none;
  padding: 20px 100px;
  &:hover {
    text-decoration: none;
  }
}

.selected {
  font-weight: bold;
  color: black;
  border-bottom: 3px solid #333333;
}

.carousel {
  overflow: hidden;
}
.carousel-inner {
  overflow: inherit;
  padding: 0 40px;
}
.carousel-control-prev {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  color: black !important;
  background-image: none;
}
.carousel-control-next {
  color: black !important;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  background-image: none;
}

.carousel-item.active {
  display: flex;
  justify-content: space-between;
}

.cuisine-choices::-webkit-scrollbar {
  display: none;
}

.cuisine-choice {
  padding: 5px 20px;
  &.active {
    border-bottom: 2px solid black;
    font-weight: bolder;
  }
}

.cuisine-choices .hidden {
  display: none;
}

._price, ._preptime {
  margin-bottom: 0 !important;
}

.restaurant {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 86%;
  margin-left: 7%;
  .restaurant-logo img{
    margin-top: 15%;
    height: 270px;
    width: 270px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
    background-color: white;
    position: relative;
    bottom: 170px;
  }
  .restaurant-description {
    width: 60%;
    text-align: center; 
    position: relative;
    margin-top: 0;
    bottom: 10px;
    margin-left: 30px;
    h1 {
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
}

