// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.main-button {
  color: #333333;
  font-size: 28px;
  font-weight: lighter;
  text-decoration: none;
  padding: 20px 100px;
  &:hover {
    text-decoration: none;
  }
}

.selected {
  font-weight: bold;
  color: black;
  border-bottom: 3px solid #333333;
}

.cuisine-scroll {
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}

._price, ._preptime {
  margin-bottom: 0 !important;
}

.restaurant {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 86%;
  margin-left: 7%;
  .restaurant-logo img{
    margin-top: 15%;
    height: 270px;
    width: 270px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
    background-color: white;
    position: relative;
    bottom: 170px;
  }
  .restaurant-description {
    width: 60%;
    text-align: center; 
    position: relative;
    margin-top: 0;
    bottom: 10px;
    margin-left: 30px;
    h1 {
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
}

