<div class="container">
  <div class="row justify-content-center">
    <div class="form col-6 mt-3">
      <h3 class="mb-3">How was your cooking experience?</h3>
      <%= simple_form_for([ @order, @review ]) do |f| %>
        <div class= "form-group">
          <%= f.input :content, class: "form-control" %>
          <%= f.input :rating, class: "form-control" %>
          <%= f.submit "Submit Review", class: "form-control btn btn-info" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
